@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(./assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(./assets/fonts/JosefinSans-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}
*::selection {
  background: #ff7b77;
}

a,
a:visited {
  color: #00162c;
}

input,
textarea {
  resize: none;
  border-radius: 20px;
  width: 270px;
  font-family: "font-1", sans-serif;
  background: #fdfdfd;
}

textarea:focus {
  box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
}

button,
input[type=submit] {
  background: #ffd0c4;
  color: #ff7b77;
  font-family: "font-3", serif;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 20px 6px 20px 20px;
}
button:hover,
input[type=submit]:hover {
  background: #ff7b77;
  color: #ffd0c4;
}

input[type=checkbox] {
  box-shadow: none;
  width: 20px;
  margin: 10px 0;
}

i {
  transition: 0.15s;
}
i:hover {
  transform: scale(1.1);
}

body {
  font-family: "font-2", serif;
  line-height: 1.4rem;
  background: #fdfdfd;
  color: #00162c;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  color: green;
  font-weight: bold;
}

.home {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 60px 1fr 374px;
  overflow: hidden;
  margin: 58px auto 50px;
  position: relative;
}
@media screen and (max-width: 990px) {
  .home {
    grid-template-columns: 60px 1fr;
    margin: 58px 20px 50px;
  }
}
@media screen and (max-width: 590px) {
  .home {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }
}
.home .main .home-header {
  margin: 0 auto 12px;
  text-align: center;
}
.home .main .home-header .connection-form {
  background: #fdeeee;
  border-radius: 20px;
  padding: 20px;
}
.home .main .home-header .connection-form ul {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.home .main .home-header .connection-form ul li {
  cursor: pointer;
  border-radius: 20px;
  padding: 12px 14px;
  transition: 0.2s;
  margin: 0 8px;
}
.home .main .home-header .connection-form ul .active-btn {
  background: #ff7b77;
}
.home .main .home-header .connection-form ul .active-btn:hover {
  background: #ffd0c4;
}
.home .main .home-header .connection-form ul li:not(.active-btn):hover {
  transform: translateX(3px);
}
.home .main .home-header .connection-form form input {
  padding: 10px 14px;
  margin: 0;
  font-size: 1.2rem;
  font-family: "font-2", serif;
  border-radius: 20px;
}
.home .main .home-header .connection-form form input:focus {
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
}
.home .main .home-header .connection-form form input[type=submit] {
  padding: 14px 14px;
  border-radius: 20px;
}
.home .right-side {
  position: relative;
  width: 100%;
  margin: 0px 0 0 14px;
}
@media screen and (max-width: 990px) {
  .home .right-side {
    display: none;
  }
}
.home .right-side .right-side-container {
  position: fixed;
}

nav {
  position: fixed;
  width: 100%;
  height: 45px;
  border-radius: 6px;
  box-shadow: 18px 1px 0px #ff7b77, 22px 4px 0px 0px #dbdada;
  z-index: 10;
  top: 0;
}
@media screen and (max-width: 1251px) {
  nav {
    padding: 0 20px;
  }
}
nav::after {
  content: "";
  height: 45px;
  width: 110%;
  left: -20px;
  top: 0;
  position: absolute;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.86);
  z-index: -8;
}
nav .nav-container {
  display: flex;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  justify-content: space-between;
  height: 45px;
  align-items: center;
}
nav .nav-container .logo {
  display: flex;
  align-items: center;
}
nav .nav-container .logo h3 {
  transform: translate(15px, 2px);
  font-size: 1.5rem;
  font-family: "font-3", serif;
}
nav .nav-container .logo img {
  height: 26px;
  width: 26px;
}
nav .nav-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  justify-content: space-between;
  font-size: 1.2rem;
}
nav .nav-container ul .welcome {
  transform: translateY(2px);
}
@media screen and (max-width: 590px) {
  nav .nav-container ul .welcome {
    display: none;
  }
}
nav .nav-container ul .welcome h5 {
  font-family: "font-3", serif;
}
nav .nav-container ul li img {
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: 66px 1fr;
  border: 2px solid #ffd0c4;
  margin: 10px;
  padding: 16px;
  border-radius: 20px;
  margin: 8px auto;
  position: relative;
  min-height: 100px;
}
@media screen and (max-width: 590px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 440px) {
  .card-container {
    padding-top: 26px;
  }
}
.card-container .fa-spinner {
  position: absolute;
  top: 40%;
  left: 49%;
  font-size: 1.5rem;
  color: #ff7b77;
}
.card-container .card-left img {
  height: 52px;
  width: 52px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
  object-fit: cover;
}
@media screen and (max-width: 590px) {
  .card-container .card-left img {
    height: 40px;
    width: 40px;
    margin-left: 18px;
    border-radius: 14px;
  }
}
@media screen and (max-width: 590px) {
  .card-container .card-left {
    position: absolute;
    transform: translate(17px, 18px);
  }
}
@media screen and (max-width: 590px) {
  .card-container .card-right {
    margin-left: 18px;
  }
}
.card-container .card-right .card-header {
  display: flex;
  justify-content: space-between;
  margin: 2px 0 4px;
}
@media screen and (max-width: 590px) {
  .card-container .card-right .card-header {
    margin: 12px 0 14px;
  }
}
@media screen and (max-width: 440px) {
  .card-container .card-right .card-header {
    flex-direction: column;
  }
}
.card-container .card-right .card-header .pseudo {
  display: flex;
}
@media screen and (max-width: 590px) {
  .card-container .card-right .card-header .pseudo {
    margin-left: 52px;
  }
}
@media screen and (max-width: 440px) {
  .card-container .card-right .card-header .pseudo {
    transform: translateY(-18px);
  }
}
.card-container .card-right .card-header .pseudo span {
  transform: translate(0px, -5px);
}
@media screen and (max-width: 440px) {
  .card-container .card-right .card-header .pseudo span {
    margin: 0px 0 -10px;
    padding: 0;
  }
}
.card-container .card-right .card-header .pseudo span img {
  padding: 5px;
  cursor: pointer;
  transition: 0.15s;
  box-shadow: none;
  height: 28px;
  width: 28px;
}
.card-container .card-right .card-header .pseudo span img:hover {
  transform: scale(1.2) translate(0px, 0px);
}
.card-container .card-right .card-header .pseudo span .fas {
  color: #ff7b77;
}
.card-container .card-right .card-header .pseudo span .far {
  color: #ffd0c4;
}
.card-container .card-right .card-header span {
  font-style: italic;
  font-family: "font-1", sans-serif;
}
@media screen and (max-width: 440px) {
  .card-container .card-right .card-header span {
    transform: translate(52px, -20px);
  }
}
.card-container .card-right p {
  margin: 3px 0 9px;
  font-size: 1.1rem;
}
@media screen and (max-width: 440px) {
  .card-container .card-right p {
    margin-top: -18px;
  }
}
.card-container .card-right .update-post textarea {
  font-size: 1.3rem;
  border: 1px solid #ffd0c4;
  padding: 10px;
  border-radius: 20px 20px 6px 20px;
}
.card-container .card-right .update-post .button-container .btn {
  background: #ffd0c4;
  width: 240px;
  transform: translateY(-3px);
}
.card-container .card-right .update-post .button-container .btn:hover {
  background: #ff7b77;
  width: 250px;
  letter-spacing: 1px;
}
.card-container .card-right .card-pic {
  width: 100%;
  border-radius: 6px;
  margin-top: 12px;
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
}
.card-container .card-right iframe {
  width: 100%;
  min-height: 330px;
  border-radius: 6px;
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
}
.card-container .card-right .button-container {
  justify-content: flex-end;
  display: flex;
}
.card-container .card-right .button-container div {
  padding: 5px 9px;
  margin-left: 5px;
  background: #ffd0c4;
  border-radius: 50px;
  transition: 0.1s;
  cursor: pointer;
}
.card-container .card-right .button-container div:hover {
  transform: scale(1.07);
}
.card-container .card-right .button-container div img {
  height: 16px;
  width: 16px;
  transform: translateY(3px);
}
.card-container .card-right .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 12px 0 4px;
}
.card-container .card-right .card-footer img {
  height: 22px;
  width: 22px;
  cursor: pointer;
  transition: 0.2s;
}
.card-container .card-right .card-footer img:hover {
  transform: scale(1.2);
}
.card-container .card-right .card-footer .comment-icon,
.card-container .card-right .card-footer .like-container {
  display: flex;
  align-items: center;
}
.card-container .card-right .card-footer .comment-icon span,
.card-container .card-right .card-footer .like-container span {
  font-size: 1.02rem;
  position: absolute;
  transform: translate(29px, 2px);
}
.card-container .card-right .comment-container.client {
  background: #fdeeee;
  border: none;
  border-radius: 20px 20px 6px 20px;
}
.card-container .card-right .comment-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  border: 1px solid #ffd0c4;
  padding: 15px;
  margin: 5px 0;
  border-radius: 20px 20px 20px 6px;
}
.card-container .card-right .comment-container img {
  height: 40px;
  width: 40px;
  border-radius: 14px;
  box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
  object-fit: cover;
}
@media screen and (max-width: 440px) {
  .card-container .card-right .comment-container img {
    height: 37px;
    width: 37px;
  }
}
.card-container .card-right .comment-container .comment-header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 440px) {
  .card-container .card-right .comment-container .comment-header {
    flex-direction: column;
  }
}
.card-container .card-right .comment-container .comment-header .pseudo {
  display: flex;
}
.card-container .card-right .comment-container .comment-header .pseudo h3 {
  font-family: "font-1", sans-serif;
}
.card-container .card-right .comment-container .comment-header .pseudo span {
  transform: translateX(6px);
}
.card-container .card-right .comment-container .comment-header span {
  font-size: 0.9rem;
  font-style: italic;
  font-family: "font-1", sans-serif;
}
.card-container .card-right .comment-container p {
  margin-top: 8px;
}
.card-container .card-right .comment-container .edit-comment {
  color: #ffd0c4;
}
.card-container .card-right .comment-container .edit-comment img {
  float: right;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.15s;
  box-shadow: none;
  height: 20px;
  width: 20px;
}
.card-container .card-right .comment-container .edit-comment img:hover {
  transform: scale(1.1);
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form {
  margin-top: 14px;
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form label {
  background: #fdfdfd;
  color: #ff7b77;
  padding: 6px 12px 5px;
  border-radius: 20px 20px 20px 6px;
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
  font-family: "font-3", serif;
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form label:hover {
  transform: scale(1.05);
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form input[type=text] {
  margin: 4px 0;
  background: #fdfdfd;
  font-size: 1.15rem;
  padding: 16px;
  width: 100%;
  border-radius: 6px 20px 6px 20px;
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form .btn {
  display: flex;
  align-items: center;
  float: right;
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form .btn span {
  background: #fdfdfd;
  padding: 10px 5px;
  border-radius: 50px;
  margin-right: 6px;
  transition: 0.2s;
  cursor: pointer;
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form .btn span:hover {
  background: #ffd0c4;
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form .btn span img {
  transform: translate(-5px, 0);
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form .btn input[type=submit] {
  background: #ffd0c4;
  width: inherit;
  transition: 0.2s;
}
.card-container .card-right .comment-container .edit-comment .edit-comment-form .btn input[type=submit]:hover {
  width: inherit;
  background: #ff7b77;
}
.card-container .card-right .comment-form {
  margin-top: 6px;
}
.card-container .card-right .comment-form input[type=text] {
  width: 100%;
  background: #fdeeee;
  border-radius: 20px 20px 6px 20px;
  padding: 20px;
  font-size: 1.4rem;
}
.card-container .card-right .comment-form input[type=text]:focus {
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
}
.card-container .card-right .comment-form input[type=submit] {
  margin-top: 4px;
  padding: 12px 16px;
  width: 120px;
  background: #ffd0c4;
  border-radius: 20px 6px 20px 20px;
  transition: 0.2s;
  float: right;
}
.card-container .card-right .comment-form input[type=submit]:hover {
  background: #ff7b77;
  letter-spacing: 2px;
  width: 130px;
}
.card-container .card-right .comment-form button {
  float: right;
  background: #ff7b77;
  transition: 0.2s;
}
.card-container .card-right .comment-form button:hover {
  background: #ffd0c4;
}
.card-container .card-right .like-container span {
  font-size: 1.02rem;
  position: absolute;
  transform: translate(8px, -1px);
}
.card-container .card-right .fa-share-alt {
  transform: translate(0, 2px);
}
.card-container .update-post textarea {
  width: 100% !important;
  height: 80px;
}
.card-container .update-post .button-container {
  text-align: right;
}
.card-container .update-post .button-container button {
  margin: 0;
  margin-left: 5px;
  width: 150px;
}
.card-container .update-post .button-container button:nth-child(1) {
  background: #ff7b77;
}

.connection-from {
  border: 2px solid #ff7b77;
  width: 400px;
  margin: 35px auto 0;
  padding: 20px 0;
  user-select: none;
  text-align: center;
}
.connection-from h3 {
  padding: 10px 0 15px;
}
.connection-from ul {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.connection-from ul li {
  background: #ffd0c4;
  color: #fdfdfd;
  width: 130px;
  padding: 10px 0;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 3px 3px 1px rgba(51, 51, 51, 0.418);
}
.connection-from ul li:hover {
  background: #ff7b77;
}
.connection-from .active-btn {
  background: #ff7b77;
}
.connection-from form {
  width: 400px;
  margin: 10px auto 0;
  padding: 20px;
}

.profil-page {
  margin: 80px auto 0;
  max-width: 1200px;
}
.profil-page .icons {
  top: 55px;
}
.profil-page .log-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
}
@media screen and (max-width: 885px) {
  .profil-page .log-container {
    grid-template-columns: 1fr;
  }
}
.profil-page .connection-form {
  border: none;
  background: #fdeeee;
  min-width: 490px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 550px) {
  .profil-page .connection-form {
    min-width: 200px;
  }
}
.profil-page .connection-form .form-container {
  display: grid;
  grid-template-columns: 30% 70%;
}
@media screen and (max-width: 550px) {
  .profil-page .connection-form .form-container {
    grid-template-columns: 1fr;
  }
}
.profil-page .connection-form .form-container ul li {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  transition: 0.2s;
}
@media screen and (max-width: 550px) {
  .profil-page .connection-form .form-container ul li {
    width: 80%;
    margin: 0 auto;
  }
}
.profil-page .connection-form .form-container ul .active-btn {
  background: #ff7b77;
}
.profil-page .connection-form .form-container ul .active-btn:hover {
  background: #ffd0c4;
}
.profil-page .connection-form .form-container ul li:not(.active-btn):hover {
  transform: translateX(3px);
}
.profil-page .connection-form .form-container ul #login {
  position: relative;
}
@media screen and (max-width: 550px) {
  .profil-page .connection-form .form-container ul #login {
    margin-bottom: 30px;
  }
  .profil-page .connection-form .form-container ul #login:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #ffd0c4;
  }
}
.profil-page .connection-form .form-container form input {
  padding: 14px 20px;
  margin: 0;
  font-size: 1.2rem;
  font-family: "font-2", serif;
  border-radius: 20px;
}
.profil-page .connection-form .form-container form input:focus {
  box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
}
.profil-page .connection-form .form-container form a {
  color: #3e3ed6;
}
.profil-page h1 {
  text-align: center;
  margin: 10px 0 6px;
}
.profil-page .img-container {
  display: grid;
  align-items: center;
  height: 100%;
}
.profil-page .img-container img {
  height: 280px;
}
@media screen and (max-width: 1050px) {
  .profil-page .img-container img {
    height: 220px;
  }
}
@media screen and (max-width: 950px) {
  .profil-page .img-container img {
    height: 200px;
  }
}
@media screen and (max-width: 885px) {
  .profil-page .img-container img {
    display: none;
  }
}
.profil-page .update-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 700px) {
  .profil-page .update-container {
    grid-template-columns: 1fr;
  }
}
.profil-page .update-container > div {
  background: #fdeeee;
  border-radius: 20px;
  padding: 25px;
  margin: 20px 10px;
}
@media screen and (max-width: 700px) {
  .profil-page .update-container > div {
    margin: 10px 10px;
  }
}
.profil-page .update-container .left-part {
  text-align: center;
}
.profil-page .update-container .left-part h3 {
  margin-bottom: 12px;
}
.profil-page .update-container .left-part img {
  height: 180px;
  width: 180px;
  border-radius: 46px;
  object-fit: cover;
  margin-bottom: 30px;
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.363);
}
.profil-page .update-container .left-part form {
  position: relative;
}
.profil-page .update-container .left-part form label {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 270px;
  background: #00162c;
  color: #ffd0c4;
  border-radius: 20px;
  display: inline-block;
  padding: 9px 0;
  transition: 0.2s;
  z-index: 10;
  cursor: pointer;
}
.profil-page .update-container .left-part form input[type=file] {
  position: absolute;
  opacity: 1;
  transform: translate(-3px, -50%);
  cursor: pointer;
  padding: 10px 20px;
}
@media screen and (max-width: 1121px) {
  .profil-page .update-container .left-part form input[type=file] {
    opacity: 0;
  }
}
.profil-page .update-container .left-part form input[type=submit] {
  margin-top: 10px;
  border-radius: 20px;
}
.profil-page .update-container .left-part form input[type=submit]:hover {
  letter-spacing: 1px;
}
.profil-page .update-container .left-part p {
  color: red;
  font-family: "font-3", serif;
  margin-top: 6px;
}
.profil-page .update-container .right-part {
  text-align: center;
  padding: 20px 40px;
}
.profil-page .update-container .right-part h3 {
  margin-bottom: 12px;
}
.profil-page .update-container .right-part p,
.profil-page .update-container .right-part textarea {
  min-height: 80px;
  border: 1px solid #ff7b77;
  border-radius: 20px 20px 6px 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
}
.profil-page .update-container .right-part textarea {
  width: 100%;
  margin-bottom: -6px;
  font-size: 1.2rem;
}
.profil-page .update-container .right-part button {
  margin: 5px 0;
  float: right;
}
.profil-page .update-container .right-part h4 {
  margin: 60px 0 10px;
}
.profil-page .update-container .right-part h5 {
  background: #ff7b77;
  color: #fdeeee;
  font-family: "font-1", sans-serif;
  margin: 20px 0;
  padding: 12px;
  font-size: 1.1rem;
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.profil-page .update-container .right-part h5:hover {
  filter: brightness(110%);
  transform: translateX(2px);
}
.profil-page .popup-profil-container {
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  animation: popup 1s forwards;
}
@keyframes popup {
  to {
    backdrop-filter: blur(2px);
  }
}
.profil-page .popup-profil-container .modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-100%);
  background: #ffd0c4;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(131, 130, 130, 0.356);
  overflow: auto;
  transform: scaleY(0);
  transform-origin: center;
  animation: modal 0.5s forwards;
}
.profil-page .popup-profil-container .modal h3 {
  min-width: 200px;
}
@keyframes modal {
  to {
    transform: scale(1) translate(-50%);
  }
}
.profil-page .popup-profil-container .modal .cross {
  position: absolute;
  top: 25px;
  right: 25px;
  transition: 0.1s;
  cursor: pointer;
}
.profil-page .popup-profil-container .modal .cross:hover {
  transform: scale(1.07);
}
.profil-page .popup-profil-container .modal ul {
  margin: 20px 0 0;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.profil-page .popup-profil-container .modal ul::-webkit-scrollbar {
  width: 2px;
}
.profil-page .popup-profil-container .modal ul::-webkit-scrollbar-track {
  background: #fdeeee;
}
.profil-page .popup-profil-container .modal ul::-webkit-scrollbar-thumb {
  background: #ff7b77;
}
.profil-page .popup-profil-container .modal ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.profil-page .popup-profil-container .modal ul li {
  display: grid;
  grid-template-columns: 64px 1fr 114px;
  align-items: center;
  margin: 10px 0;
}
.profil-page .popup-profil-container .modal ul li img {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.376);
}
.profil-page .popup-profil-container .modal ul li h4 {
  text-align: left;
  min-width: 210px;
}
.profil-page .popup-profil-container .modal ul li .follow-handler {
  text-align: left;
}
.profil-page .popup-profil-container .modal ul li .follow-handler button {
  background: #fdeeee;
  border-radius: 20px;
  margin-right: 6px;
}
.profil-page .popup-profil-container .modal ul li .follow-handler button:hover {
  color: #00162c;
  transform: translateX(2px);
}

.post-container {
  margin: 0 auto 0;
  padding: 16px 40px;
  border-radius: 20px;
  position: relative;
  background: #fdeeee;
}
.post-container i {
  font-size: 1.5rem;
  margin: 20px 0;
  color: #00162c;
}
.post-container .data {
  position: absolute;
  right: 42px;
  text-align: right;
}
@media screen and (max-width: 420px) {
  .post-container .data {
    right: 10px;
  }
}
@media screen and (max-width: 380px) {
  .post-container .data {
    display: none;
  }
}
.post-container .data span {
  font-weight: bold;
}
.post-container .user-info {
  margin-bottom: 10px;
}
.post-container .user-info img {
  border-radius: 20px;
  height: 60px;
  width: 60px;
  box-shadow: 2px 2px 2px rgba(51, 51, 51, 0.16);
  object-fit: cover;
}
.post-container .user-info h3 {
  color: #282828;
}
.post-container .post-form {
  position: relative;
  margin: 0 auto 0;
}
.post-container .post-form textarea {
  height: 62px;
  width: 100%;
  font-size: 1.4rem;
  padding: 12px 15px;
  border-radius: 20px 20px 6px 20px;
}
.post-container .post-form .card-container {
  background: #fdfdfd;
  border-radius: 20px 20px 6px 20px;
}
.post-container .post-form .card-container .card-left {
  text-align: left;
}
@media screen and (max-width: 590px) {
  .post-container .post-form .card-container .card-left img {
    margin-left: 0;
  }
}
@media screen and (max-width: 590px) {
  .post-container .post-form .card-container .card-right {
    margin-left: 0;
  }
}
@media screen and (max-width: 632px) {
  .post-container .post-form .card-container .card-right .card-header {
    flex-direction: column;
  }
}
@media screen and (max-width: 590px) {
  .post-container .post-form .card-container .card-right .card-header {
    margin: 0;
  }
}
@media screen and (max-width: 440px) {
  .post-container .post-form .card-container .card-right .card-header .pseudo {
    transform: translateY(-8px);
  }
}
@media screen and (max-width: 632px) {
  .post-container .post-form .card-container .card-right .card-header span {
    position: absolute;
    top: 40px;
  }
}
@media screen and (max-width: 590px) {
  .post-container .post-form .card-container .card-right .card-header span {
    left: 68px;
  }
}
@media screen and (max-width: 440px) {
  .post-container .post-form .card-container .card-right .card-header span {
    left: 14px;
    top: 60px;
  }
}
.post-container .post-form .card-container .card-right .content {
  padding: 6px 0;
}
.post-container .post-form .card-container .card-right .content p {
  text-align: left;
  margin: 2px 0 6px;
  font-size: 1.1rem;
}
.post-container .post-form .card-container .card-right .content img {
  width: 100%;
  border-radius: 6px;
  margin-top: 12px;
}
@media screen and (max-width: 632px) {
  .post-container .post-form .card-container .card-right .content {
    margin-top: 20px;
  }
}
.post-container .post-form .footer-form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}
.post-container .post-form .footer-form .icon {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 20px;
}
.post-container .post-form .footer-form .icon img {
  position: absolute;
  height: 24px;
  width: 24px;
  transform: translate(-18px, -1px);
}
.post-container .post-form .footer-form .icon button {
  width: 190px;
  padding: 10px 20px;
  background: #fdfdfd;
  transition: 0.2s;
}
.post-container .post-form .footer-form .icon button:hover {
  background: #00162c;
}
.post-container .post-form .footer-form .icon input {
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(-16px, -3px);
  opacity: 0;
  cursor: pointer;
}
.post-container .post-form .footer-form .icon input::-webkit-file-upload-button {
  cursor: pointer;
}
.post-container .post-form .footer-form p {
  font-family: "font-3", serif;
  margin-top: 4px;
  color: red;
}
.post-container .post-form .footer-form .btn-send .cancel {
  border-radius: 20px;
  margin-right: 8px;
  background: #fdfdfd;
}
.post-container .post-form .footer-form .btn-send .cancel:hover {
  color: #fdeeee;
  background: #00162c;
}
.post-container .post-form .footer-form .btn-send .send:hover {
  letter-spacing: 2px;
}
@media screen and (max-width: 460px) {
  .post-container .post-form .footer-form .btn-send button {
    font-size: 0.8rem;
    padding: 8px;
  }
}

.get-friends-container {
  width: 356px;
  background: linear-gradient(145deg, #ffd0c4 30%, #ffe1d9 100%);
  border-radius: 20px;
  padding: 20px 20px 10px;
}
.get-friends-container h4 {
  font-size: 1.4rem;
  color: #00162c;
}
.get-friends-container .icon {
  margin: 16px auto;
  width: 100%;
  text-align: center;
}
.get-friends-container .icon i {
  font-size: 1.6rem;
  color: #00162c;
}
.get-friends-container ul {
  width: 100%;
  padding: 14px 0 0;
}
.get-friends-container ul .user-hint {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  align-items: center;
  margin: 8px 0;
}
.get-friends-container ul .user-hint img {
  height: 46px;
  width: 46px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 0 2px rgba(51, 51, 51, 0.377);
}
.get-friends-container ul .user-hint p {
  text-align: left;
  font-size: 0.9rem;
  font-family: "font-3", serif;
}
.get-friends-container ul .user-hint span {
  text-align: right;
}
.get-friends-container ul .user-hint span button {
  background: #ff7b77;
  color: #fdeeee;
  padding: 10px 24px 8px;
  transition: 0.2s;
  border-radius: 20px;
  font-size: 0.9rem;
}
.get-friends-container ul .user-hint span button:hover {
  background: #fdeeee;
  color: #ff7b77;
}

.trending-container {
  background: #ffd0c4;
  border-radius: 20px;
  margin-bottom: 14px;
  padding: 20px;
  width: 356px;
}
.trending-container h4 {
  font-size: 1.4rem;
  color: #00162c;
  margin-bottom: 12px;
}
.trending-container ul li {
  margin: 5px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 68px 1fr;
  background: #fdeeee;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 5px 7px 20px 9px #ff7c7732;
  transition: 0.2s;
}
.trending-container ul li:hover {
  box-shadow: none;
}
.trending-container ul li div {
  height: 56px;
}
.trending-container ul li img,
.trending-container ul li iframe {
  height: 56px;
  width: 56px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 0 4px rgba(51, 51, 51, 0.233);
}
.trending-container ul li .trend-content {
  position: relative;
  height: 56px;
}
.trending-container ul li .trend-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 0.9rem;
}
.trending-container ul li .trend-content span {
  color: #ff7b77;
  font-family: "font-3", serif;
  position: absolute;
  right: 6px;
  bottom: -11px;
}

.left-nav-container {
  position: relative;
}
.left-nav-container .icons {
  position: fixed;
  z-index: 10;
}
@media screen and (max-width: 590px) {
  .left-nav-container .icons {
    margin: 2px 0 0 -9px;
  }
}
.left-nav-container .icons .icons-bis {
  position: absolute;
  left: 10px;
}
.left-nav-container .icons .icons-bis a {
  transition: 0.1s;
  display: inline-block;
}
.left-nav-container .icons .icons-bis a:before {
  transition: 0.15s ease;
  transform: scale(0);
  transform-origin: center;
  z-index: -10;
  content: "";
  height: 45px;
  width: 45px;
  position: absolute;
  background: #fdeeee;
  border-radius: 50px;
}
.left-nav-container .icons .icons-bis a:hover {
  transform: scale(1.02);
}
.left-nav-container .icons .icons-bis a:hover::before {
  transform: scale(1);
}
@media screen and (max-width: 590px) {
  .left-nav-container .icons .icons-bis a:hover::before {
    background: #ff7b77;
    height: 34px;
    width: 34px;
  }
}
@media screen and (max-width: 590px) {
  .left-nav-container .icons .icons-bis a img {
    height: 34px;
    width: 34px;
  }
}
.left-nav-container .icons .icons-bis .active-left-nav {
  position: relative;
}
.left-nav-container .icons .icons-bis .active-left-nav::after {
  content: "";
  height: 40px;
  width: 5px;
  position: absolute;
  background: #ff7b77;
  left: -7px;
  bottom: 8px;
  border-radius: 40px;
  transform: scaleY(0);
  animation: scale 1.5s ease forwards;
}
@keyframes scale {
  to {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 590px) {
  .left-nav-container .icons .icons-bis .active-left-nav::after {
    height: 33px;
    left: -8px;
  }
}

.trending-page {
  max-width: 1200px;
  margin: 62px auto 0;
  display: grid;
  grid-template-columns: 60px 1fr 374px;
}
@media screen and (max-width: 990px) {
  .trending-page {
    grid-template-columns: 60px 1fr;
    margin: 58px 20px 50px;
  }
}
@media screen and (max-width: 590px) {
  .trending-page {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }
}
.trending-page .main {
  margin-top: -8px;
}
.trending-page .right-side {
  position: relative;
  width: 100%;
  margin: 0px 0 0 14px;
}
.trending-page .right-side .right-side-container {
  position: fixed;
  width: 35%;
}
@media screen and (min-width: 1200px) {
  .trending-page .right-side .right-side-container {
    width: 404px;
  }
}

/*# sourceMappingURL=style.css.map */
